{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.opus.pro"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/ExportableClip": {
      "get": {
        "description": "Returns all clips  from project",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "ID of project",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ExportableClip response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExportableClip"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/ClipProject": {
      "post": {
        "description": "Create a new project",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClipProjectPostRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClipProjectPostResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExportableClip": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of the project",
            "type": "string"
          },
          "uriForPreview": {
            "description": "URI of video for preview",
            "type": "string"
          },
          "uriForExport": {
            "description": "URI of video for download",
            "type": "string"
          },
          "title": {
            "description": "Title of the clip",
            "type": "string"
          },
          "text": {
            "description": "Caption of the clip",
            "type": "string"
          },
          "score": {
            "description": "Score of the clip",
            "type": "number",
            "format": "int32"
          },
          "createdAt": {
            "description": "Date of creation",
            "type": "string"
          }
        }
      },
      "ClipProjectPostRequestBody": {
        "required": [
          "videoUrl"
        ],
        "type": "object",
        "properties": {
          "videoUrl": {
            "description": "The video url of the project",
            "type": "string"
          },
          "conclusionActions": {
            "description": "Actions when project is finished",
            "type": "object",
            "properties": {
              "type": {
                "description": "Type of the action, eg. WEBHOOK",
                "type": "string",
                "enum": [
                  "WEBHOOK"
                ]
              },
              "url": {
                "description": "The system will send a POST request to the specified URL",
                "type": "string"
              }
            }
          }
        }
      },
      "ClipProjectPostResponse": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "description": "The id of the project",
            "type": "string"
          },
          "stage": {
            "description": "The stage of the project,enum COMPLETE|STALLED|QUEUED",
            "type": "string"
          },
          "error": {
            "description": "The error message",
            "type": "string"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}